.MiniCartOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.MiniCart {
  position: fixed;
  right: 9%;
  top: 5rem;
  padding: 1rem;
  background-color: white;
  z-index: 20;
  width: 30rem;
  height: fit-content;
  max-height: 45rem;
  overflow-y: scroll;
  user-select: none;
}


.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {

  width: 84px;
  height: 40px;
  left: 100px;
  top: 160px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  
  text-transform: uppercase;
  
  color: #1D1F22;
}

.title span {
  font-weight: bold;
}

.header .xIcon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header .xIcon:hover {
  opacity: 0.8;
}

.noProducts {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noProducts img {
  width: 60%;
  margin-bottom: 5rem;
}

.noProducts p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #3f3d56;
  text-transform: capitalize;
}

.footer {
  padding-top: 1rem;
  border-top: 2px solid #f0f0f0;
}
.Quantity{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  
}
.totalPrice {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  
}

.btnsContainer {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  
  width: 279px;
  height: 43px;
}

.btnsContainer button {
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnsContainer .viewBagBtn {
  color: var(--c-text);
  border-color: var(--c-text);
  background-color: transparent;
}

.btnsContainer .viewBagBtn:hover {
  background-color: var(--c-text);
  color: var(--c-white);
}

.btnsContainer .checkoutBtn {
  background-color: var(--c-primary);
  border-color: var(--c-primary);
  color: var(--c-white);

}

.btnsContainer .checkoutBtn:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 480px) {
  .MiniCartOverlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .MiniCart {
    right: 0;
    width: 100vw;
  }

  .noProducts {
    padding: 0;
    height: 25rem;
  }

  .noProducts p {
    font-weight: 700;
  }

  .header .xIcon {
    font-size: 2rem;
  }
}
